
<header class="header">
  <a href="/" style="color: white; margin-left: 20px;">
    <i class="bx bx-home-alt-2 bx-md"></i>
  </a>


  <nav class="navbar">
    <a href="/about">ABOUT</a>
    <a href="/services">SERVICES</a>
    <a href="/testimonials">TESTIMONIALS</a>
    <a href="/contact">CONTACT</a>
    <button href="" class="navbar-join-button">JOIN</button>
  </nav>
</header>
