
<header class="header">
  <i class='bx bx-home-alt-2 bx-md' style="color: white; margin-left: 20px;" ></i>

  <nav class="navbar">
    <a>ABOUT</a>
    <a>SERVICES</a>
    <a>TESTIMONIALS</a>
    <a>CONTACT</a>
    <button href="">JOIN</button>
  </nav>
</header>
