<section class="about-section">
  <div class="video">
    <video autoplay loop muted plays-inline class="back-video" id="myVideo">
      <source src="/assets/Orca>BB.mp4" type="video/mp4">
    </video>
  </div>
  <div>
    <span>SOME TEXT</span>
  </div>
</section>
