<section class="about-section">
  <div>
    <span>SOME TEXT</span>
  </div>
</section>

<section class="about-who-we-are">
  <h2>Who we are</h2>
  <div class="profiles-container">
    <div class="profile">
      <img src="/assets/MikeyProfile.jpg" alt="" class="profile-images">
      <h3>Mikey</h3>
      <span class="profile-heading">Fitness</span>
      <span>SOME TEXT</span>
    </div>
    <div class="profile">
      <img src="/assets/KathrynProfile.jpg" alt="" class="profile-images">
      <h3>Kathryn</h3>
      <span class="profile-heading">Nutrition</span>
      <span>SOME TEXT</span>
    </div>
  </div>
</section>

<%# <div class="video">
  <video autoplay loop muted plays-inline class="back-video" id="myVideo">
    <source src="/assets/Orca>BB.mp4" type="video/mp4">
  </video>
</div> %>

<div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header_title">Our Story</h2>
    <h3 class="timeline-header_subtitle">2014-Present</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="The start of Big Kidz">
      <div class="timeline_content">
        <img class="timeline_img" src="/assets/BigKidz.jpg" alt="">
        <h2 class="timeline_content-title">2014</h2>
        <p class="timeline_content-desc">Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
        Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis!</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Orca Studio is opened">
      <div class="timeline_content">
        <img class="timeline_img" src="/assets/OrcaStudio.jpg" alt="">
        <h2 class="timeline_content-title">2018</h2>
        <p class="timeline_content-desc">Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
        Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis!</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Client cycles the width of the country">
      <div class="timeline_content">
        <img class="timeline_img" src="/assets/CTS.JPG" alt="">
        <h2 class="timeline_content-title">2023</h2>
        <p class="timeline_content-desc">Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
        Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis!</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Orca becomes Black Blade">
      <div class="timeline_content">
        <img src="/assets/Orca>BB.mp4" type="video/mp4" autoplay loop muted plays-inline class="timeline-img" id="myVideo">
        <h2 class="timeline_content-title">2023</h2>
        <p class="timeline_content-desc">Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
        Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis!</p>
      </div>
    </div>
  </div>
</div>
