<div class="home-banner">
  <div class="banner-content">
    <%= image_tag 'logo.jpeg', alt: 'Black Blade Logo', style: 'width: 402px; height: 278px;' %>
    <button href="">JOIN</button>
    <p id="slogan">FITNESS   |   NUTRITION   |   LIFESTYLE</p>
  </div>

  <%= image_tag 'Subject5.png', id: 'banner-img' %>
</div>
