<div class="home-banner">
  <div class="banner-content">
    <img src="/assets/logo.jpeg" alt="Black Blade Logo" style="width: 402px; height: 278px;">
    <a href="https://form.typeform.com/to/L0kHAUik?typeform-source=l.instagram.com" target="_blank" class="banner-join">JOIN</a>
    <p id="slogan">FITNESS   |   NUTRITION   |   LIFESTYLE</p>
  </div>
  <div>
    <img src="/assets/Subject 6.png" alt="" id="banner-img">
  </div>
</div>

<section class="home-section-1">
  <img src="/assets/Subject 3.png" alt="" id="section-1-img">

  <div class="section-1-content">
    <h1>Our Mission</h1>
    <p>Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
      Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis! </p>
  </div>

</section>


<section class="home-section-3">
  <div class="box">
    <i class='bx bx-dumbbell' style="font-size: 60px;"></i>
    <h2>FITNESS</h2>
    <p>Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
      Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis! </p>
    </p>
  </div>

  <div class="box">
    <i class='bx bx-food-menu' style="font-size: 60px;" ></i>
    <h2>NUTRITION</h2>
    <p>Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
      Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis! </p>
    </p>
  </div>

    <div class="box">
    <i class='bx bx-donate-heart' style="font-size: 60px;"></i>
    <h2>LIFESTYLE</h2>
    <p>Lorem ipsum dolor sit amet. Hic nesciunt natus ut ullam beatae aut temporibus dignissimos et facere aliquid aut asperiores quod in amet blanditiis qui consequatur cupiditate. At rerum nesciunt qui explicabo tempora eum accusamus obcaecati.
      Cum nesciunt ipsa non omnis pariatur et molestiae velit ab ipsam galisum ex itaque itaque ab iste consectetur nam debitis omnis! </p>
    </p>
  </div>
</section>
