<div class="home-banner">
  <div class="banner-content">
    <img src="/assets/logo.jpeg" alt="Black Blade Logo" style="width: 402px; height: 278px;">
    <button class="banner-join">JOIN</button>
    <p id="slogan">FITNESS   |   NUTRITION   |   LIFESTYLE</p>
  </div>

  <img src="/assets/Subject 4.PNG" alt="" id="banner-img">

</div>
