<div class="services-banner">
  <div class="packages">
    <div class="packages-card" id="standard">
      <h2>STANDARD</h2>
    </div>
    <div class="packages-card" id="premium">
      <h2>PREMIUM</h2>
    </div>
  </div>
  <div class="packages">
    <div class="packages-card" id="accountability">
      <h2>ACCOUNTABILITY</h2>
    </div>
    <div class="packages-card" id="nutrition">
      <h2>NUTRITION</h2>
    </div>
  </div>
</div>
