<div class="section">
  <div class="image-comparison">
    <div class="images-container">
      <img class="before-image" src="/assets/client1-before.jpg" alt="" />
      <img class="after-image" src="/assets/client1-after.jpg" alt="" />

      <div class="slider-line"></div>
      <div class="slider-icon">
        <span class="material-symbols-outlined">
        arrows_outward
        </span>
      </div>

      <input type="range" class="slider" min="0" max="100" />
    </div>
  </div>

  <div class="image-comparison">
    <div class="images-container">
      <img class="before-image" src="/assets/client2-before.jpg" alt="" />
      <img class="after-image" src="/assets/client2-after.jpg" alt="" />

      <div class="slider-line"></div>
      <div class="slider-icon">
        <span class="material-symbols-outlined">
        arrows_outward
        </span>
      </div>

      <input type="range" class="slider" min="0" max="100" />
    </div>
  </div>
</div>
