<div class="section">
  <div class="container">
    <div class="image-container">
      <img src="/assets/client1-before.jpg" alt="before image" class="image-before slider-image">
      <img src="/assets/Client1.jpg" alt="after image" class="image-after slider-image">
    </div>
    <input type="range" min="0" max="100" value="50" class="slider"/>
    <div class="slider-line"></div>
    <div class="slider-button" aria-hidden="true">
      <span class="material-symbols-outlined">
      arrows_outward
      </span>
    </div>
  </div>
</div>
