
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #292929;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-family: 'Inter', sans-serif;
}

.navbar a,
.navbar button {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 20px;
}

.navbar button {
  background-color: #40829C;
  padding: .5rem;
  margin-right: 20px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 30px;
  border: solid;
  border-color: white;
}

.home-banner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}

.home-banner button {
  background-color: #40829C;
  color: white;
  padding: .5rem;
  margin-right: 20px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 30px;
  border: solid;
  border-color: white;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
